.middle-bar {
	@include flexCenter;
}

.search-nav {
	@include flexCenter;
	justify-content: flex-end;
	width: 100%;
	flex-wrap: nowrap;

	@include responsive(phone-lg) {
		flex-wrap: wrap;
	}
}
.user-menu {
	flex: 0 0 auto;
	text-align: end;
}

.search-bar {
	flex: 1;
	min-width: 12rem;
	border-radius: 5px;
	background: $light-grey;
	margin-right: 1rem;

	form {
		float: left;
		display: flex;
		margin: auto;
		height: 2.5rem;
		width: 0;

		@include responsive(phone-lg) {
			flex: 1 0 6rem;
		}
	}

	input {
		flex: 1;
		width: auto;
		&:focus {
			outline: none;
		}
	}

	.search-btn,
	input {
		background: transparent;
		border: none;
		margin: 0 0.5rem;
	}

	.fa-search {
		color: $dark-grey;
	}

	&:hover {
		background: $light-grey-hover;
	}
	&:focus-within {
		background: white;
		border: 1px solid $light-grey;
	}
	&.active {
		display: block;
	}

	@include responsive(tab) {
		margin-right: 0rem;
	}
	@include responsive(phone-lg) {
		display: none;
		order: 2;
		margin-top: 1rem;
	}
}
