.middle-bar {
  @include flexCenter;
}

.search-nav {
  @include flexCenter;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;

  @include responsive(phone-lg) {
    flex-wrap: wrap;
  }
}

.user-menu {
  flex: 0 0 auto;
  text-align: end;
}

.search-bar {
  background: $light-grey;
  border-radius: 5px;
  flex: 1;
  margin-right: 1rem;
  min-width: 12rem;

  @include responsive(tab) {
    margin-right: 0;
  }
  @include responsive(phone-lg) {
    display: none;
    margin-top: 1rem;
    order: 2;
  }

  form {
    display: flex;
    float: left;
    height: 2.5rem;
    margin: auto;
    width: 0;

    @include responsive(phone-lg) {
      flex: 1 0 6rem;
    }
  }

  input {
    flex: 1;
    width: auto;

    &:focus {
      outline: none;
    }
  }

  .search-btn,
  input {
    background: transparent;
    border: none;
    margin: 0 0.5rem;
  }

  .fa-search {
    color: $dark-grey;
  }

  &:hover {
    background: $light-grey-hover;
  }

  &:focus-within {
    background: white;
    border: 1px solid $light-grey;
  }

  &.active {
    display: block;
  }
}
