.top-bar {
  @include flexCenter;
  background: $light-grey;
  padding: 0.75rem 1rem;

  @include responsive(tab) {
    display: none;
  }
}

.language-menu {
  padding-right: 0.75rem;
}

.shipping-link {
  span {
    padding-left: 0.2rem;
  }
}
