body {
  color: $text-color;
}

.top-bar {
  font-size: 0.75rem;
}

.fa-star {
  color: $yellow;
}

.user-menu span {
  font-family: $poppins;
  font-size: 1rem;
}

#menu-scroller {
  font-size: 0.7rem;

  a {
    color: $text-color;
  }
}
