/// Font family
/// @type List
$poppins: "Poppins", sans-serif !default;

/// Copy text color
/// @type Color
$text-color: #222222 !default;

/// Light grey
/// @type Color
$light-grey: #f3f3f3 !default;

/// Light grey hover
/// @type Color
$light-grey-hover: #e9e9e9 !default;

/// Medium grey
/// @type Color
$mid-grey: #777777 !default;

/// Dark grey
/// @type Color
$dark-grey: #444444 !default;

/// Container's maximum width
/// @type Length
$max-width: 65rem !default;
